# Study of annual comparison Notebook

## Objectives
- Answer Business Requirements 2
- To prove for client that as the exchange rate rises, the difference between the opening and closing value will be smaller than with a lower exchange rate.

## Input
- Jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv

## Output
- Generate codes that answer the Business Requirement 2.

# Change the working directory

### Import libraries

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks'

We want to make the parent of the current directory the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print()

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin'

# Load data

In [6]:
import pandas as pd
df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
df.head(2787)

      Unnamed: 0        Date  Closing Price (USD)  24h Open (USD)
0              0  2014-03-14           124.654990      125.304660
1              1  2014-03-15           126.455000      124.654990
2              2  2014-03-16           109.584830      126.455000
3              3  2014-03-17           119.674660      109.584830
4              4  2014-03-18           122.338660      119.674660
...          ...         ...                  ...             ...
2782        2782  2021-10-25         49765.132082    49597.778891
2783        2783  2021-10-26         50033.693137    49718.354353
2784        2784  2021-10-27         47886.625255    49927.035067
2785        2785  2021-10-28         45605.615754    46806.537852
2786        2786  2021-10-29         43145.471291    46440.336570

[2787 rows x 4 columns]

# Data filter for Business Requirement 2

We filter from the database the data of opening and closing exchange rate for 01st January, 30th June and 31st December.

# Correlation study

Use correlation method of spearman and pearson and investigate the correlations.

In [ ]:
import pandas as pd
from scipy.stats import pearsonr
df = pd.read_csv("outputs/dataset/collection/Bitcoin_Price_Data.csv")

# Variables distribution by Annual Comparison

# Conclusions