# Study of annual comparison Notebook

## Objectives
- Answer Business Requirements 2
- To prove for client that as the exchange rate rises, the difference between the opening and closing value will be smaller than with a lower exchange rate.

## Input
- Jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv

## Output
- Generate codes that answer the Business Requirement 2.

# Change the working directory

### Import libraries

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks'

We want to make the parent of the current directory the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print()

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin'

# Load data

In [6]:
import pandas as pd
df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
df.head(2787)

      Unnamed: 0        Date  Closing Price (USD)  24h Open (USD)
0              0  2014-03-14           124.654990      125.304660
1              1  2014-03-15           126.455000      124.654990
2              2  2014-03-16           109.584830      126.455000
3              3  2014-03-17           119.674660      109.584830
4              4  2014-03-18           122.338660      119.674660
...          ...         ...                  ...             ...
2782        2782  2021-10-25         49765.132082    49597.778891
2783        2783  2021-10-26         50033.693137    49718.354353
2784        2784  2021-10-27         47886.625255    49927.035067
2785        2785  2021-10-28         45605.615754    46806.537852
2786        2786  2021-10-29         43145.471291    46440.336570

[2787 rows x 4 columns]

# Data filter for Business Requirement 2

I filter the data of opening and closing exchange rate for 1st January, 30th June and 31st December

In [40]:
import pandas as pd
df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
usecols=range(2,4)

newdf = df[df['Date'].str.contains('2014-03-14|01-01|06-30|12-31|2021-10-29')]
newdf.head(25)

      Unnamed: 0        Date  Closing Price (USD)  24h Open (USD)
0              0  2014-03-14           124.654990      125.304660
108          108  2014-06-30           843.191730      875.074160
292          292  2014-12-31           624.006250      624.996250
293          293  2015-01-01           618.961240      624.006250
473          473  2015-06-30           210.165500      221.574500
657          657  2015-12-31           275.283870      276.306870
658          658  2016-01-01           280.459250      275.283870
839          839  2016-06-30           381.817000      384.138000
1023        1023  2016-12-31           674.008000      674.832000
1024        1024  2017-01-01           663.034000      674.008000
1204        1204  2017-06-30           849.581250      831.740000
1388        1388  2017-12-31          2350.355000     2355.892500
1389        1389  2018-01-01          2741.568750     2350.355000
1569        1569  2018-06-30         10871.168750    12916.116250
1753        1753  2018-12-31          7485.639670     7360.737036
1754        1754  2019-01-01          7358.445677     7485.639663
1934        1934  2019-06-30          3594.721740     3569.682666
2118        2118  2019-12-31         10467.260938    10604.343146
2119        2119  2020-01-01         10984.216002    10534.963252
2300        2300  2020-06-30          8926.299028     8712.637311
2484        2484  2020-12-31          9191.271534     9183.914419
2485        2485  2021-01-01          9173.588333     9214.358566
2665        2665  2021-06-30         36017.779606    36753.771185
2786        2786  2021-10-29         43145.471291    46440.336570

# Correlation study

Use correlation method of spearman and pearson and investigate the correlations

In [41]:
import pandas as pd
from scipy.stats import pearsonr

df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
usecols=range(2,4)

newdf = df[df['Date'].str.contains('2014-03-14|01-01|06-30|12-31|2021-10-29')]

x = newdf['Closing Price (USD)']
y = newdf['24h Open (USD)']
corr, _ = pearsonr(x, y)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.999

In [42]:
import pandas as pd
from scipy.stats import spearmanr

df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
usecols=range(2,4)

newdf = df[df['Date'].str.contains('2014-03-14|01-01|06-30|12-31|2021-10-29')]

x = newdf['Closing Price (USD)']
y = newdf['24h Open (USD)']
corr, _ = spearmanr(x, y)
print('Spearman correlation: %.3f' % corr)

Spearman correlation: 0.993

In [43]:
vars_to_study = ['Closing price (USD)', '24h open (USD)']
vars_to_study

['Closing price (USD)', '24h open (USD)']

# EDA on selected variables

In [48]:
import pandas as pd
newdf = df[df['Date'].str.contains('2014-03-14|01-01|06-30|12-31|2021-10-29')]
vars_to_study = ['Date', 'Closing Price (USD)', '24h Open (USD)']
df_eda = df.filter(vars_to_study)
df_eda.head(25)

          Date  Closing Price (USD)  24h Open (USD)
0   2014-03-14            124.65499       125.30466
1   2014-03-15            126.45500       124.65499
2   2014-03-16            109.58483       126.45500
3   2014-03-17            119.67466       109.58483
4   2014-03-18            122.33866       119.67466
5   2014-03-19            121.65533       122.33866
6   2014-03-20            122.79500       121.65533
7   2014-03-21            124.03300       122.79500
8   2014-03-22            125.04900       124.03300
9   2014-03-23            126.96116       125.04900
10  2014-03-24            126.27966       126.96116
11  2014-03-25            126.92750       126.27966
12  2014-03-26            127.38333       126.92750
13  2014-03-27            136.24199       127.38333
14  2014-03-28            134.20333       136.24199
15  2014-03-29            143.76333       134.20333
16  2014-03-30            138.92333       143.76333
17  2014-03-31            143.95166       138.92333
18  2014-04-01            153.55183       143.95166
19  2014-04-02            161.33883       153.55183
20  2014-04-03            165.31499       161.33883
21  2014-04-04            178.63333       165.31499
22  2014-04-05            189.29716       178.63333
23  2014-04-06            201.70166       189.29716
24  2014-04-07            181.35500       201.70166

# Variables distribution by Annual Comparison

In [49]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
df = pd.read_csv("outputs/dataset/collection/Bitcoin_Price_Data.csv")

def plot_numerical(df, col, target_var):
    plt.figure(figsize=(8, 5))
    sns.histplot(data=df, x=col, hue=25, kde=True, element="step")
    plt.title(f"{col}", fontsize=20, y=1.05)
    plt.show()

def plot_categorical(df, col, target_var):

    plt.figure(figsize=(12, 5))
    sns.countplot(data=df, x=col, hue=25, order=df[col].value_counts().index)
    plt.xticks(rotation=90)
    plt.title(f"{col}", fontsize=20, y=1.05)
    plt.show()
    
target_var = 'Closing Price (USD)','24h Open (USD)'
for col in vars_to_study:
    
    if df_eda[col].dtype == 'float64':
        plot_numerical(df_eda, col, target_var)
        print("\n\n")
    else:
        plot_categorical(df_eda, col, target_var)
        print("\n\n")

TypeError: 'int' object is not iterable

# Conclusions