# Study of annual comparison Notebook

## Objectives
- Answer Business Requirements 2
- To prove for client that as the exchange rate rises, the difference between the opening and closing value will be smaller than with a lower exchange rate.

## Input
- Jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv

## Output
- Generate codes that answer the Business Requirement 2.

# Change the working directory

### Import libraries

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks'

We want to make the parent of the current directory the new current directory

In [3]:
os.chdir(os.path.dirname(current_dir))
print()

Confirm the new current directory

In [4]:
current_dir = os.getcwd()
current_dir

'/workspace/fifth-milestone-project-bitcoin'

# Load data

In [6]:
import pandas as pd
df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
df.head(2787)

      Unnamed: 0        Date  Closing Price (USD)  24h Open (USD)
0              0  2014-03-14           124.654990      125.304660
1              1  2014-03-15           126.455000      124.654990
2              2  2014-03-16           109.584830      126.455000
3              3  2014-03-17           119.674660      109.584830
4              4  2014-03-18           122.338660      119.674660
...          ...         ...                  ...             ...
2782        2782  2021-10-25         49765.132082    49597.778891
2783        2783  2021-10-26         50033.693137    49718.354353
2784        2784  2021-10-27         47886.625255    49927.035067
2785        2785  2021-10-28         45605.615754    46806.537852
2786        2786  2021-10-29         43145.471291    46440.336570

[2787 rows x 4 columns]

# Data filter for Business Requirement 2

I filter the data of opening and closing exchange rate for 1st January, 30th June and 31st December.

In [40]:
import pandas as pd
df = (pd.read_csv("/workspace/fifth-milestone-project-bitcoin/jupyter_notebooks/outputs/dataset/collection/Bitcoin_Price_Data.csv").drop(['24h High (USD)','24h Low (USD)'], axis=1))
usecols=range(2,4)

newdf = df[df['Date'].str.contains('2014-03-14|01-01|06-30|12-31|2021-10-29')]
newdf.head(25)

      Unnamed: 0        Date  Closing Price (USD)  24h Open (USD)
0              0  2014-03-14           124.654990      125.304660
108          108  2014-06-30           843.191730      875.074160
292          292  2014-12-31           624.006250      624.996250
293          293  2015-01-01           618.961240      624.006250
473          473  2015-06-30           210.165500      221.574500
657          657  2015-12-31           275.283870      276.306870
658          658  2016-01-01           280.459250      275.283870
839          839  2016-06-30           381.817000      384.138000
1023        1023  2016-12-31           674.008000      674.832000
1024        1024  2017-01-01           663.034000      674.008000
1204        1204  2017-06-30           849.581250      831.740000
1388        1388  2017-12-31          2350.355000     2355.892500
1389        1389  2018-01-01          2741.568750     2350.355000
1569        1569  2018-06-30         10871.168750    12916.116250
1753        1753  2018-12-31          7485.639670     7360.737036
1754        1754  2019-01-01          7358.445677     7485.639663
1934        1934  2019-06-30          3594.721740     3569.682666
2118        2118  2019-12-31         10467.260938    10604.343146
2119        2119  2020-01-01         10984.216002    10534.963252
2300        2300  2020-06-30          8926.299028     8712.637311
2484        2484  2020-12-31          9191.271534     9183.914419
2485        2485  2021-01-01          9173.588333     9214.358566
2665        2665  2021-06-30         36017.779606    36753.771185
2786        2786  2021-10-29         43145.471291    46440.336570

# Correlation study

Use correlation method of spearman and pearson and investigate the correlations

In [ ]:
import pandas as pd
from scipy.stats import pearsonr
df = pd.read_csv("outputs/dataset/collection/Bitcoin_Price_Data.csv")

# Variables distribution by Annual Comparison

# Conclusions